:root {
    --primary-color:#ed3237;
    --light-color: #FFF;
    --dark-color: #333;
    --max-width: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--light-color);
    font-family: 'Raleway', sans-serif;
    line-height: 0;
    overflow-x: hidden;
}

p{
    margin-bottom: 0.75rem;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
h1, h2, h3, h4,h5, h6{
    font-family: 'Raleway', sans-serif;
    margin-bottom: .65rem;
    line-height: 1.3;
    letter-spacing: .2rem;
    word-spacing: .30rem;
}
/************************************************************************************
                                    SELECTION and SCROLLBAR CLASSES
************************************************************************************/
::selection{
    background: var(--primary-color);
    color: #FFF;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px var(--primary-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: var(--primary-color);
}
/************************************************************************************
                                    UTILITY CLASSES
************************************************************************************/


.container{
    max-width: var(--max-width);
    margin: 0 auto;
/*    padding: 0 2rem;*/
    overflow: hidden;
    
}
.card{
    background: var(--primary-color);
/*    padding: 2rem;*/
    height: 510px;
}
.bg-light{
    background: var(--light-color);
    color: var(--dark-color);
}
.bg-dark{
    background: var(--dark-color);
    color: #FFF;
}
.bg-black{
    background-color: #333;
}

.bg-dark a,
.bg-primary a,
.bg-secondary  a{
    color: #FFF;
}

.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}

.p-1{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}

.l-heading{
    font-size: 3rem;
}
.m-heading{
    font-size: 2.2rem;
}
.sm-heading{
    font-size: 1.75rem;
}

ul.list li{
    padding: 0.5rem;
}

ul.list li a:hover{
    color: var(--primary-color);
}
/*----------------------------------------------------------------------------
-----------------------------------HOME PAGE----------------------------------
----------------------------------------------------------------------------*/
/*****************************************************************************
                                    HEADER
*****************************************************************************/
.header{
    background: #333;
    color: #FFF;
    left: 0;
    top: 0;
    z-index: 9999;
    padding: 0.5rem 0;
    line-height: 1.5;
}
.header p{
    margin-bottom: 0;
    font-size: 13px;
    float: right;
    margin-right: 192px;
}
.header p span:hover{
    cursor: pointer;
    color: var(--primary-color);
}
/*****************************************************************************
                                    NAVBAR
*****************************************************************************/
.navbar{
    width: 100%;
    height: 64px;
    line-height: 1.5;
}
.navbar-fixed{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
.navbar-white{
    background: #FFF;
    color: #333;
}
.main-menu .menu{
    padding-right: 184px;
}
.menu, .sub-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sub-menu{
    display: none;
}
.menu li a{
    font-weight: 600;
    color: #333;
}
.menu .home a{
    background: var(--primary-color);
    color: #FFF;
}
.menu .menu-item{
    display: inline-block;
}
.menu .menu-item a{
    display: inline-block;
    height: 100%;
    padding: 20px;
    text-decoration: none;
}
.has-sub-menu{
    position: relative;
}
.has-sub-menu:hover .sub-menu{
    display: block;
}
.has-sub-menu .sub-menu-list{
    position: absolute;
    left: 0;
    background: #FFF;
    color: #000;
    width: 160px;
}
.sub-menu-list .sub-menu .menu-item{
    display: block;
}
.sub-menu-list .sub-menu .menu-item a{
    display: block;
    width: 230px;
}
.navbar-white .menu .menu-item a:link,
.navbar-white .menu .menu-item a:visited{
    color: #333;
}
.navbar-white .menu .menu-item .active:link,
.navbar-white .menu .menu-item .active:visited{
    color: #FFF;
    background-color: var(--primary-color);
}
.navbar-white .menu .menu-item a:hover,
.navbar-white .menu .menu-item.has-sub-menu:hover>a{
    background: var(--primary-color);
    color: #FFF;
}
.sub-menu-list .sub-menu .menu-item a:link,
.sub-menu-list .sub-menu .menu-item a:visited{
    color: #333;
    background-color: #FFF;
}
.sub-menu-list .sub-menu .menu-item a:hover{
    color: var(--primary-color);
    background-color: #f8f9fa;
}
.navbarLogo img{
    padding: 0 20px;
    padding-top: 5px;
/*    margin-left: 75px;*/
    margin-left: 180px;
    width: 180px;
}
.navbarLogo:hover{
    cursor: pointer;
}
/*****************************************************************************
                                    SLIDER
*****************************************************************************/
.slider{
    width: 100%;
}
.slider-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.slider-item{
    position: relative;
}
.slider .slider-image{
    width: 100%;
    padding-top: 0;
}
/*****************************************************************************
                                    AFTER SLIDER
*****************************************************************************/
.afterSlider p{
    background: #FFF;
    color: #333;
    left: 0;
    top: 0;
    z-index: 9999;
    padding: 0.5rem 0;
    line-height: 1.5;
}
.afterSlider p{
    margin-bottom: 0;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
}
.afterSlider p span{
    color: var(--primary-color);
}
/*****************************************************************************
                                    PRODUCTS SECTION
*****************************************************************************/
#products .products-container1{
    display: grid;
    grid-template-columns: 3fr 6fr;
    line-height: 1.5;
}
#products .products-container2{
    display: grid;
    grid-template-columns: 6fr 3fr;
    line-height: 1.5;
}
.bg-white{
    background-color: #FFF;
}
.card img{
    height: 510px;
}
.content{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 80px;
}
.content h2, p{
    color: #FFF;
}
.content h2{
    font-size: 30px;
    font-weight: 600;
}
.content p{
    font-size: 22px;
    font-weight: 300;
}
.content .secondP{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 40px;
}
.content a{
    background-color: #FFF;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}
.whiteLine{
    background-color: #FFF;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 200px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}
.btn a{
    flex: 4;
    color: #333;
    padding: 0 1.5rem;
}
.btn i{
    height: 100%;
    width: 2rem;
    flex: 1;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    display: none;
    background: #DDD;
}
.btn:hover i{
    display: inline-block;
}
.btn:hover a{
    padding: 0 0.5rem;
}
/*****************************************************************************
                                    FOOTER SECTION
*****************************************************************************/
.dg-line{
    height: 6px;
    width: 100%;
    background-color: #555;
}
.footer{
    background-color: #333;
    width: 100%;
    height: 220px;
}
.footer .container{
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    align-items: center;
}
.footer .logo{
    width: 100px;
}
.footer .logo:hover{
    cursor: pointer;
}
.footer .right ul li a{
    padding-left: 6px;
    padding-right: 6px;
    color: #fff;
}
.footer .right ul li a:hover{
    color: #777;
}
.footer .right ul li span{
    color: #fff;
}
.footer .left{
    margin-top: 50px;
    margin-left: 200px;
}
.left p{
    padding-top: 10px;
    color: #FFF;
}
.right{
    margin-left: 115px;
}
/*----------------------------------------------------------------------------
-----------------------------------ABOUT US PAGE------------------------------
----------------------------------------------------------------------------*/
/*****************************************************************************
                                    PAGE TITLE SECTION
*****************************************************************************/
.pageTitle{
    background-color: #F5F5F5;
    width: 100%;
    height: 130px;
}
.pageTitle .left{
    float: left;
}
.pageTitle .right{
    float: right;
    padding-right: 193px;
    line-height: 11;
    font-size: 12px;
}
.pageTitle .right .home:hover{
    color: var(--primary-color);
}
.pageTitle .left h2{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 28px;
    font-weight: 600;
    padding-left: 102px;
    line-height: 1;
}
/*****************************************************************************
                                    ABOUT US SECTION
*****************************************************************************/
.aboutusContainer{
    background-color: var(--primary-color);
    width: 100%;
    height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.aucLeft img{
    width: 550px;
    margin-left: 100px;
    margin-top: 100px;
}
.aucRight{
    padding-top: 120px;   
    padding-right: 50px;
    line-height: 1.5;
}
.aucRight h2{
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}
.aucRight .chcz{
    font-weight: 200;
    font-size: 22px;
}
.aucRight p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}
.imgFooter{
    background-color: var(--primary-color);
}
.aucRight span{
    color: #333;
    font-weight: bolder;
}
/*----------------------------------------------------------------------------
-----------------------------------LED LIGHTS PAGE----------------------------
----------------------------------------------------------------------------*/
.LEDContainer{
    background-color: #FFF;
    margin-left: 206px;
    width: 74.2%;
    margin-top: 80px;
}
.LEDContainer h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
    line-height: 1.5;
    text-align: center;
}
.LEDContainer h1 span{
    color: var(--primary-color);
}
.LEDContainer h3{
    font-weight: 300;
    font-size: 22px;
    color: #777;
    text-align: center;
    letter-spacing: 0;
}
.whiteLine{
    width: 100%;
    height: 1px;
    background-color: #EEE;
    margin-top: 30px;
}
.LEDIcons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    margin-top: 50px;
}
.icon{
    background-color: #FFF;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    background-color: #F5F5F5;
    color: #444;
    margin-left: 120px;
}
.circle span{
    color: #444;
    font-size: 64px;
    text-align: center;
    margin-top: 18px;
}
.LEDContainer h2{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin-top: 30px;
}
.LEDContainer p{
    color: #444;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    font-size: 16px;
}
.icon:hover .circle{
    background-color: var(--primary-color);
    transition: all .5s ease-in-out;
}
.icon:hover .circle span{
    color: #FFF;
    transition: all .5s ease-in-out;
}
.oropm{
    margin-top: 100px;
}
.iocContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 300px;
}
.iocCard{
    background-color: #FFF;
}
.event{
    position: relative;
}
.event img{
    width: 100%;
    height: 500px;
    border-radius: 8px;
}
.event .overlay{
    position: absolute;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.2);
    top: 0px;
    left: 0px;
    display: block;
    border-radius: 8px;
}
.event h2{
    color: #FFF;
    margin-top: -250px;
    font-size: 32px;
    font-weight: 600;
}
/*----------------------------------------------------------------------------
-----------------------------------SOLAR KIITS PAGE----------------------------
----------------------------------------------------------------------------*/
.skContainer{
    background-color: #FFF;
    margin-left: 206px;
    width: 74.2%; 
    height: 100px;
    margin-top: 80px;
    margin-bottom: 150px;
}
.skicons{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 20px;
}
.skcircle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    background-color: #F5F5F5;
    color: #444;
    margin-left: 23px;
}
.skcircle span{
    color: #444;
    font-size: 64px;
    text-align: center;
    margin-top: 18px;
}
.skicons p{
    color: #444;
    margin-top: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    font-size: .875rem;
}
.icon:hover .skcircle{
    background-color: var(--primary-color);
    transition: all .5s ease-in-out;
}
.icon:hover .skcircle span{
    color: #FFF;
    transition: all .5s ease-in-out;
}
.oooBlock{
    background-color: var(--primary-color);
    width: 100%;
}
.oooContainer{
    margin-left: 206px;
    width: 74.2%; 
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 50px;
}
.oooBox{
    margin-top: 80px;
    margin-bottom: 60px;
}
.oooBox h2{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FFF;
}
.oooBox h2 span{
    color: #333;
}
.oooBox .firstp{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: #333;
    margin-top: 15px;
}
.oooBox .whiteLine{
    margin-top: 45px;
    margin-bottom: 45px;
}
.oooBox .secondp{
    line-height: 1.8;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #FFF;
    margin-bottom: 50px;
}
.oooBox .marginb{
    margin-bottom: 100px;
}
.warrantyBlock{
    background-color: #F5F5F5;
    width: 100%;
}
.warrantyBlock h2{
    text-align: center;
    font-size: 30px;
    color: #444;
    line-height: 1.5;
    font-weight: 600;
    padding-top: 50px;
}
.warrantyContainer{
    margin-left: 206px;
    width: 74.2%; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.warrantyContainer .wbox{
    width: 100%;
    height: 150px;
    background-color: #FFF;
    margin-top: 80px;
    margin-bottom: 30px;
}
.warrantyContainer .wbox .wcircle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
    text-align: center;
    background-color: #F5F5F5;
    color: #444;
    margin-top: -50px;
    margin-left: 75px;
}
.warrantyContainer .wbox .wcircle h1{
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
}
.warrantyContainer .wbox p{
    color: #444;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.warrantyContainer .wbox p span{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
}
.wbox:hover .wcircle{
    background-color: var(--primary-color);
    transition: all .5s ease-in-out;
}
.wbox:hover .wcircle h1{
    color: #FFF;
    transition: all .5s ease-in-out;
}
/*----------------------------------------------------------------------------
-----------------------------------MANAGEMENT PAGE----------------------------
----------------------------------------------------------------------------*/
.manContainer{
    margin-left: 206px;
    margin-right: 193px;
    height: 980px;
    background-color: #FFF;
}
#home-articles .manContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.7rem;
    padding-top: 50px;
    padding-bottom: 50px;
}
.cardMan{
    background-color: #FFF;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.cardMan:hover{
    background: #EEEEEE;
    transition: all .4s ease-in-out;
}
.cardMan:hover .ImgMan{
    background-color: #FFF;
    transition: all .4s ease-in-out;
}
.cardMan:hover .manLine{
    border: 1px solid #FFF;
}
.manImg{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.ImgMan{
    background-color: #EEEEEE;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.cardMan h2{
    color: var(--primary-color);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0;
    margin-top: 20px;
}
.cardMan .post{
    text-align: center;
    color: #555;
    font-size: .875rem;
}
.manLine{
    border: 1px solid #EEE;
    margin-left: 20px;
    margin-right: 20px;
}

.cardMan .manContent{
    text-align: left;
    color: #444;
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
}
/*----------------------------------------------------------------------------
-----------------------------------NEWS PAGE----------------------------
----------------------------------------------------------------------------*/
.newsContainer{
    background-color: #FFF;
    margin-left: 206px;
    width: 74.2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.7rem;
    margin-top: 70px;
    margin-bottom: 70px;
}
.cardNews{
    background-color: #FFF;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.35rem;
}
.cardNews p{
    color: #333;
}
.cardNews img{
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;
}
.cardNews .date{
    margin-left: 20px;
    margin-top: 30px;
    color: #777;
    font-size: 14px;
}
.cardNews .date span{
    margin-right: 10px;
}
.cardNews h2{
    color: #333;
    font-size: 17px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 35px;
}
.cardNews p{
    color: #333;
    line-height: 1.8;
    font-size: 0.875rem;
    margin-left: 20px;
    margin-right: 35px;
    margin-top: 40px;
}
.btn1{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 200px;
    line-height: 50px;
    font-weight: 600;
    background: #FFF;
    color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn1 a{
    flex: 4;
    color: var(--primary-color);
    padding: 0 1.5rem;
}
.btn1 i{
    height: 100%;
    width: 2rem;
    flex: 1;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    text-align: center;
    line-height: 50px;
    display: none;
    background: #DDD;
}
.btn1:hover i{
    display: inline-block;
}
.btn1:hover a{
    padding: 0 0.5rem;
}
/*----------------------------------------------------------------------------
-----------------------------------DOWNLOADS PAGE----------------------------
----------------------------------------------------------------------------*/
.downloadsBox{
    margin-left: 206px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 74.2%;
    height: 90px;
    margin-top: 84.2px;
    margin-bottom: 84.2px;
}
.downloadsBox p{
    color: #333;
    text-align: center;
/*    padding-top: 20px;*/
    line-height: 5;
    font-size: 18px;
    font-weight: 600;
}
.downloadsBox p span{
    color: var(--primary-color);
}
.downloadsBox p span:hover{
    color: #333;
    cursor: pointer;
}
/*----------------------------------------------------------------------------
-----------------------------------CONTACT US PAGE----------------------------
----------------------------------------------------------------------------*/
.pageTitle .left p{
    color: #777;
    margin-top: 10px;
    font-weight: 300;
    margin-left: 200px;
    font-size: 18px;
}
.belowMapContainer{
    background-color: #FFF;
    margin-left: 206px;
    width: 74.2%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0;
    margin-top: 80px;
}
.belowMapContainer .left{
    background-color: #FFF;   
}
.belowMapContainer .right{
    background-color: #FFF;
    margin-left: 0;
}
.belowMapContainer .left h2{
    margin-bottom: 40px;
}
.formContainer1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    margin-right: 40px;
}
.formContainer1 .line1{
    background-color: #FFF;
}
.form-control{
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 8px 14px;
    font-size: 15px;
    line-height: 1.42;
    color: #555555;
    background-color: #FFF;
    border: 2px solid #DDD;
    margin-top: 15px;
}
.form-label{
    margin-top: 50px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    cursor: pointer;
}
.formContainer2{
    display: grid;
    grid-template-columns: 2.15fr 1fr;
    grid-gap: 35px;
    margin-right: 40px;
    margin-top: 30px;
}
.formContainer2 .line2{
    background-color: #FFF;
}
.formContainer3{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 35px;
    margin-right: 40px;
    margin-top: 30px;
}
.formContainer3 .line3{
    background-color: #FFF;
}
.belowMapContainer .left a{
    background-color: var(--primary-color);
    color: #FFF;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
}
.belowMapContainer .left a:hover{
    color: #333;
    background-color: #DDD;
}
.mb{
    margin-bottom: 50px;
}
.belowMapContainer .right .address{
    line-height: 1.5;
    color: #555;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    margin-bottom: 40px;
}
.belowMapContainer .right h4{
    font-weight: bolder;
    color: #000;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0;
}
.belowMapContainer .right p{
    color: #555;
    line-height: .5;
    font-size: 16px;
}
.belowMapContainer .right .bold{
    color: #000;
    font-weight: bolder;
}
.belowMapContainer .right .email{
    color: var(--primary-color);
}
.belowMapContainer .right .email:hover{
    color: #555;
    cursor: pointer;
}
.belowMapContainer .right .up{
    margin-top: 40px;
}
.whiteline{
    width: 100%;
    height: 2px;
    background-color: #EEE;
}
.warContainer{
    background-color: #FFF;
    margin-left: 206px;
    width: 74.2%;
    margin-top: 50px;
}
.warContainer h1{
    text-align: center;
}
.warContainer h1 span{
    color: var(--primary-color);
}
.warContainer img{
    width: 555px;
    margin-top: 50px;
    margin-bottom: 80px;
}
.blockofcontent{
    display: inline-block;
    width: 560px;
    height: 270px;
    border: solid 1px #777;
    border-radius: 5px;
    background-color: #FFF;
    margin-top: 86px;
    margin-left: -35px;
    position: relative;
    top: -155px;
    padding: 20px;
}
.blockofcontent p{
    color: #333;
    line-height: 1.5;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
}
.blockofcontent .email{
    color: var(--primary-color);
}
.blockofcontent .email:hover{
    color: #333;
    cursor: pointer;
}
.blockofcontent:hover{
    box-shadow: 5px 5px #CCC;
    transition: all .3s ease-in-out;
}
/*----------------------------------------------------------------------------
-----------------------------------SITE MAP PAGE----------------------------
----------------------------------------------------------------------------*/
.sitemapContainer{
    margin-left: 206px;
    background-color: #FFF;
    width: 74.2%;
    height: 259px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;

}
.sitemapContainer a{
    font-size: 0.874rem;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 0.8;
}
.sitemapContainer a span{
    color: #333;
    margin-right: 15px;
}
.sitemapContainer a:hover{
    color: #333;
    cursor: pointer;
}
.sitemapContainer a:hover span{
    color: var(--primary-color);
}
.sitemapContainer .hp{
    margin-top: 30px;
}